/* Disable scrollbar Firefox */
@-moz-document url-prefix() {
  html {
    scrollbar-width: none;
  }
}

/* Disable scrollbar Chrome */
html::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

body {
  font-family: 'Montserrat', sans-serif;
}
